:root {
  --font-sans: SourceSans3Variable, ui-sans-serif, system-ui, sans-serif;
  --font-serif: SourceSerif4Variable, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    SourceCodeProVariable, ui-monospace, SFMono-Regular, SFMono, Menlo, Consolas, "Liberation Mono",
    monospace;
}

/* source-code-pro-latin-wght-normal */
@font-face {
  font-family: SourceCodeProVariable;
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url("@fontsource-variable/source-code-pro/files/source-code-pro-latin-wght-normal.woff2")
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-code-pro-latin-wght-italic */
@font-face {
  font-family: SourceCodeProVariable;
  font-style: italic;
  font-display: swap;
  font-weight: 200 900;
  src: url("@fontsource-variable/source-code-pro/files/source-code-pro-latin-wght-italic.woff2")
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-sans-3-latin-wght-normal */
@font-face {
  font-family: SourceSans3Variable;
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url("@fontsource-variable/source-sans-3/files/source-sans-3-latin-wght-normal.woff2")
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-sans-3-latin-wght-italic */
@font-face {
  font-family: SourceSans3Variable;
  font-style: italic;
  font-display: swap;
  font-weight: 200 900;
  src: url("@fontsource-variable/source-sans-3/files/source-sans-3-latin-wght-italic.woff2")
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-serif-4-latin-wght-normal */
@font-face {
  font-family: SourceSerif4Variable;
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url("@fontsource-variable/source-serif-4/files/source-serif-4-latin-wght-normal.woff2")
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-serif-4-latin-wght-italic */
@font-face {
  font-family: SourceSerif4Variable;
  font-style: italic;
  font-display: swap;
  font-weight: 200 900;
  src: url("@fontsource-variable/source-serif-4/files/source-serif-4-latin-wght-italic.woff2")
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
